<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tech Blog</title>
</head>
<body>
    <header>
        <h2 class="mainHeader">MVC Tech Blog</h2>
        <h5 class="subhead">Where blogging is homework, and homework is blogging!</h5>
        <nav class="navbar">
            <a href="/"><button class="homeLink">Home</button></a>
            <a href="/profile" ><button class="profileLink">Profile</button></a>
            <a href="/login" ><button class="loginLink">Login</button></a>
            <button class="logoutBtn">Logout</button>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    
    <script src="/js/logout.js"></script>
   
</body>
</html>