
<hr>

<h4 class="homeHeader">Check out the latest, and greatest, blog posts from our community:</h4>
{{#each posts}}
 {{> home-partial}}
{{/each}}

<script src="/js/profile.js"></script>
<script src="/js/comments.js"></script>