<h2>Login</h2>
<form action="" class="login">
    <input type="text" name="loginEmail" id="loginUsername" placeholder="Username">
    <input type="password" name="loginPassword" id="loginPassword" placeholder="Password">
    <button type="submit">Login</button>
</form>
<hr>
<h2>Signup</h2>
<form action="" class="signup">
    <input type="text" name="signupUsername" class="signupUsername" placeholder="Username">
    <input type="password" name="signupPassword" class="signupPassword" placeholder="Password (minimum 8 characters)">
    <button type="submit">Signup</button>
</form>

<script src="/js/login.js"></script>